<%= form_for(@pizza) do |f| %>

  <div class="field"> <%= f.label :name %><br>
  <%= f.text_field :name %></div>

  <div class="field"><%= f.label :ingredients, "Ingredients" %><br>
  <%= f.text_field :ingredients %></div>

  <div class="field"><%= f.label :restaurant_id %><br>
  <%= f.collection_check_boxes :restaurant_ids, Restaurant.all, :id, :name %></div>

  <div class="actions"><%= f.submit 'Submit', :class => 'btn btn-primary' %></div>

<% end %>