<%= form_with model: pizza, local: true do |f| %>
    

    <%= f.label :name %>
    <%= f.text_field :name %><br>

    <%= f.label :ingredients %>
    <%= f.text_field :ingredients %><br>

    <%= f.label "Restaurant" %>
    <%= f.collection_select :restaurant_id, Restaurant.all, :id, :name %><br>

    <%= f.submit %>
    
    <% if pizza.errors.any? %>
        <% pizza.errors.full_messages.each do |message| %>
            <p><%= message %></p>
        <% end %>
    <% end %>
    
<% end %>