<h1>New Pizza Form</h1>

<%= form_for @pizza do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<br>
<%= f.label :ingredients %>
<%= f.text_field :ingredients %>
<br>
<%= f.label :restaurant_id %>
<%= f.collection_select :restaurant_id, Restaurant.all, :id, :name %>
<br>
<%= f.submit %>
<% end %>
