<h1>Create a new Pizza</h1>

<% if @errors%>
<% @errors.each do |error|%>
<p style="color:red;"><%= error %></p>
<% end%>
<% end%>

<%= form_for @pizza do |f|%>
<%= f.label :name, "Pizza name:" %>
<%= f.text_field :name %><br>
<%= f.label :ingredients %>
<%= f.text_field :ingredients %>
<%= f.label :restaurants, "Select the restaurant:" %>
<%= f.collection_select(:restaurants, Restaurant.all, :id, :name) %><br>

<%= f.submit %>
<% end%>

